<div class="alpha-search" [ngStyle]="{'height': height}">
  <div #content class="alpha-search-content" [ngClass]="{'hidden-title': hiddenTitle}">

    <button class="close-button" *ngIf="onCancel.observers.length > 0" (click)="close()" [ngClass]="{'fadeEnter': !closed, 'fadeExit': closed}" title="Fechar">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 212.982 212.982" xml:space="preserve">
        <g>
          <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M131.804,106.491l75.936-75.936c6.99-6.99,6.99-18.323,0-25.312
            c-6.99-6.99-18.322-6.99-25.312,0l-75.937,75.937L30.554,5.242c-6.99-6.99-18.322-6.99-25.312,0c-6.989,6.99-6.989,18.323,0,25.312
            l75.937,75.936L5.242,182.427c-6.989,6.99-6.989,18.323,0,25.312c6.99,6.99,18.322,6.99,25.312,0l75.937-75.937l75.937,75.937
            c6.989,6.99,18.322,6.99,25.312,0c6.99-6.99,6.99-18.322,0-25.312L131.804,106.491z"/>
        </g>
      </svg> 
    </button>

    <div #inputBody class="alpha-search-input" (click)="focusInput()" [ngClass]="{'fadeEnter': !closed, 'fadeExit': closed}">
      <div class="icon">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g>
            <path d="M495,466.2L377.2,348.4c29.2-35.6,46.8-81.2,46.8-130.9C424,103.5,331.5,11,217.5,11C103.4,11,11,103.5,11,217.5   S103.4,424,217.5,424c49.7,0,95.2-17.5,130.8-46.7L466.1,495c8,8,20.9,8,28.9,0C503,487.1,503,474.1,495,466.2z M217.5,382.9   C126.2,382.9,52,308.7,52,217.5S126.2,52,217.5,52C308.7,52,383,126.3,383,217.5S308.7,382.9,217.5,382.9z"/>
          </g>
        </svg>        
      </div>
      <input #inputSearch type="text" [placeholder]="placeholder" [(ngModel)]="inputModel" (ngModelChange)="setFilter()" autofocus/>
      <div class="icon" (click)="clearFilter()" *ngIf="inputModel">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 212.982 212.982" xml:space="preserve">
          <g>
            <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M131.804,106.491l75.936-75.936c6.99-6.99,6.99-18.323,0-25.312
              c-6.99-6.99-18.322-6.99-25.312,0l-75.937,75.937L30.554,5.242c-6.99-6.99-18.322-6.99-25.312,0c-6.989,6.99-6.989,18.323,0,25.312
              l75.937,75.936L5.242,182.427c-6.989,6.99-6.989,18.323,0,25.312c6.99,6.99,18.322,6.99,25.312,0l75.937-75.937l75.937,75.937
              c6.989,6.99,18.322,6.99,25.312,0c6.99-6.99,6.99-18.322,0-25.312L131.804,106.491z"/>
          </g>
        </svg>      
      </div>
    </div>

    <div class="alpha-search-area" [ngClass]="{'fadeEnter': !closed, 'fadeExit': closed}">
      <ul #searchList [smooth-scroll]="!noSmoothScroll" class="search-list" [ngClass]="listClass" [ngStyle]="indicatorClicked ? {'overflow': 'hidden'} : {}">
        <li *ngFor="let item of data | filter:objFilter:true" [ngClass]="item.$class" class="fadeEnter">
          <span [innerHtml]="item.$letter"></span>
          <div class="search-item-data" (click)="click(item)">
            <ng-container *ngIf="withTemplate" [ngTemplateOutlet]="templateRef" [ngTemplateOutletContext]="{ $implicit: item }"></ng-container>
            <span *ngIf="!withTemplate">{{item.name}}</span>
          </div>
        </li>
      </ul>
    </div>

    <div #indicator class="alpha-indicator no-select" [ngClass]="{'fadeEnter': currentLetterElement, 'fadeExit': !currentLetterElement}" [ngStyle]="{'top': ((currentLetterElement?.children[0].position * lettersListHeight) + 77) + 'px'}">
      <div>
        <div>
          <span>{{currentLetterElement?.children[0].innerHTML}}</span>
        </div>
      </div>
      <div>
        <span>{{currentLetterElement?.children[0].innerHTML}}</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55.69 122.242">
          <g id="guia" transform="translate(-1288 -436.211)">
              <path id="Path_4084" d="M-13643.358-21865.281l-55.629-.09a4.4 4.4 0 0 0 0 .711c.035.008-.083 10.844 17.217 22.045 19.523 12.643 38.459 38.025 38.459 38.025z" data-name="Path 4084" transform="translate(14986.999 22362.5)"/>
              <path id="Path_4085" d="M-13643.354-21803.814l-55.632-.094c.035-.008-.083-12.236 17.218-23.437 19.524-12.643 38.461-38.023 38.461-38.023z" data-name="Path 4085" transform="translate(14986.998 22301.55)"/>
          </g>
        </svg>
      </div>
    </div>

    <section #letterList>
      <div class="alpha-letters-list" *ngFor="let letter of alphabet" (click)="goLetter(letter)" [ngClass]="{'contains': currentLetterElement?.children[0].innerHTML !== letter && startsWithLetter(letter), 'actived': currentLetterElement?.children[0].innerHTML === letter}">
        <span>{{letter}}</span>
        <i></i>
      </div>
    </section>

  </div>
</div>
