mat-card {
  margin: auto;
  margin-top: 5%;
  width: 50%;
}

hr {
  color: rgb(24, 170, 24);
}

button {
  margin: auto;
  color: green;
  display: flex;
  width: 30%;
  justify-content: center;
}

.save-btn {
  background-color: #23d48b !important;
}

.full-width-mat-form-field {
  width: 100%;
}

.pic-symbol {
  display: flex;
  font-size: 20vw;
  justify-content: center;
  color: grey;
  cursor: pointer;
}

.file-picker {
  display: none;
}
.phone-number-and-country-code {
  margin-bottom: 0;
  display: flex;
  .country-code {
    width: 20%;
    margin-right: 10px;
  }
  .phone-number {
    width: 80%;
  }
}

mat-error {
  margin-bottom: 1vh;
}
