<mat-card>
  Add a New Contact
  <br />
  <hr />
  <span
    class="material-icons pic-symbol"
    for="UploadButton"
    (click)="filePicker.click()"
  >
    account_circle
  </span>
  <input
    type="file"
    #filePicker
    class="file-picker"
    (change)="onUploadPhoto($event)"
  />
  <form
    [formGroup]="form"
    class="forgotPasswordSectionForm"
    (submit)="onSubmit()"
  >
    <mat-form-field class="full-width-mat-form-field">
      <mat-label>First Name</mat-label>
      <input
        matInput
        type="text"
        formControlName="firstName"
        required
        placeholder=" First Name"
      />
    </mat-form-field>
    <br />
    <mat-form-field class="full-width-mat-form-field">
      <mat-label>Last Name</mat-label>
      <input
        matInput
        type="text"
        formControlName="lastName"
        required
        placeholder="Last Name"
      />
    </mat-form-field>
    <br />

    <mat-form-field class="full-width-mat-form-field">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="text"
        formControlName="email"
        required
        placeholder="Email"
      />
    </mat-form-field>
    <br />
    <div class="phone-number-and-country-code">
      <mat-form-field class="country-code">
        <mat-label>Country Code</mat-label>
        <input
          matInput
          type="number"
          formControlName="countryCode"
          required
          placeholder="Country Code"
        />
      </mat-form-field>
      <mat-form-field class="phone-number">
        <mat-label>Mobile Number</mat-label>
        <input
          matInput
          type="text"
          formControlName="mobileNumber"
          required
          placeholder="Mobile"
        />
      </mat-form-field>
    </div>
    <br />
    <mat-error *ngIf="invalidForm"
      >Please fill in all the form and upload an image.
    </mat-error>
    <button type="submit" mat-raised-button color="primary" class="save-btn">
      Add Contact
    </button>
    <br />
    <button
      mat-raised-button
      color="primary"
      type="button"
      [routerLink]="['/contacts']"
    >
      Cancel
    </button>
  </form>
</mat-card>
