mat-card {
  margin: auto;
  margin-top: 5%;
  width: 50%;
  background-color: whitesmoke;
}

// hr {
//   color: rgb(24, 170, 24);
// }

// button {
//   margin: auto;
//   color: green;
//   display: flex;
//   width: 30%;
//   justify-content: center;
// }

input {
  width: 85%;
  border: none;
  background-color: #f9fafc;
  font-size: 15px;
  padding: 15px 15px;
  padding-left: 55px;
  border-radius: 50px;
}

.alpha-search {
  height: 100%;
  $color: rgb(125, 182, 34);
  position: relative;

  * {
    outline: 0;
  }

  .alpha-search-content {
    height: inherit;
    position: relative;

    .close-button {
      cursor: pointer;
      position: absolute;
      z-index: 9999;
      right: 35px;
      top: 17px;
      padding: 9px 10px;
      background: #fff;
      transition-duration: 0.3s;

      border: none;
      border-radius: 25px;

      > svg {
        fill: #bbb;
        stroke: #bbb;
        stroke-width: 0;
        width: 16px;
      }

      &:hover {
        background: #f0f0f0;
      }
    }

    .alpha-search-input {
      background: #fff;
      padding: 15px;
      border: 1px rgba(#ccc, 0.6) solid;
      border-radius: 10px 10px 0 0;

      > input {
        width: 100%;
        max-width: inherit;
        border: none;
        outline: 0;
        box-sizing: border-box;
        font-size: 18px;
        padding: 12px 45px 12px 50px;
        background-color: transparent;
      }

      .icon {
        position: absolute;

        > svg {
          stroke-width: 0;
        }

        &:first-child {
          margin-top: 6px;

          > svg {
            fill: $color;
            stroke: $color;
            width: 32px;
          }
        }

        &:last-child {
          cursor: pointer;
          left: 485px;
          top: 28px;

          > svg {
            fill: #bbb;
            stroke: #bbb;
            width: 17px;
          }
        }
      }
    }

    .alpha-search-area {
      height: calc(100% - 77px);
      position: relative;
      box-sizing: border-box;
      background: #fff;
      border-radius: 0 0 10px 10px;

      > ul {
        height: 100%;
        list-style: none;
        margin: 0;
        padding: 15px 0 15px 0;
        display: block;
        box-sizing: border-box;
        max-height: inherit;
        overflow-y: auto;
        overflow-x: hidden;
        border-radius: 0 0 10px 10px;
        border: 1px rgba(204, 204, 204, 0.6) solid;
        border-top: 0;

        > li {
          padding: 0 20px;
          position: relative;
          display: table;
          width: 100%;
          box-sizing: border-box;
          transition-duration: 0.5s;

          > span {
            position: relative;
            z-index: 2;
            padding: 0 15px;
            font-weight: bold;
            font-size: 25px;
            border-bottom: 1px $color solid;
            margin-bottom: -1px;
            display: table;
            color: $color;
          }

          .search-item-data {
            cursor: pointer;
            z-index: 1;
            position: relative;
            display: table;
            width: 100%;
            padding: 0 20px;
            margin: 0 -20px;
            transition-duration: 0.3s;
            border-top: 1px #eee solid;
            background: #fff;

            > span {
              display: block;
              padding: 10px 0;
            }
          }

          &:hover {
            .search-item-data {
              background: rgba(0, 0, 0, 0.03);
            }
          }
        }

        @each $item
          in (
            "a",
            "b",
            "c",
            "d",
            "e",
            "f",
            "g",
            "h",
            "i",
            "j",
            "k",
            "l",
            "m",
            "n",
            "o",
            "p",
            "q",
            "r",
            "s",
            "t",
            "u",
            "v",
            "w",
            "x",
            "y",
            "z"
          )
        {
          .let-#{$item} ~ .let-#{$item} {
            > span {
              display: none;
            }
          }
        }
      }
    }

    > section {
      z-index: 1;
      position: absolute;
      right: 1px;
      top: 77px;
      bottom: 1px;
      overflow: hidden;
      background: linear-gradient(to left, #fff 30px, transparent 50px);
      border-radius: 0 0 10px 0;

      .alpha-letters-list {
        position: relative;
        text-transform: uppercase;
        transition-duration: 0.3s;
        display: table;
        width: 50px;
        padding: 1px 0;
        text-align: center;
        font-size: 13px;
        font-weight: bold;
        box-sizing: border-box;
        pointer-events: none;
        opacity: 0.3;

        > span {
          position: relative;
          z-index: 2;
          display: block;
          width: 100%;
        }

        > i {
          display: block;
          z-index: 1;
          position: absolute;
          left: 5px;
          top: calc(50% - 20px);
          width: 40px;
          height: 40px;
          border-radius: 50%;
          transition: 0.2s;
          opacity: 0;
          background: rgba(
            0,
            0,
            0,
            0.1
          ); //linear-gradient(to right, rgba(0,0,0,.1) 50%, transparent 50%)
        }

        &.contains {
          opacity: 1;
          cursor: pointer;
          pointer-events: all;
          color: $color;

          > span:hover ~ i {
            opacity: 1;
          }
        }

        &.actived {
          opacity: 1;
          z-index: 10;
          position: relative;
          color: #fff;
          text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
          visibility: hidden;
        }
      }
    }

    .alpha-indicator {
      z-index: 2;
      position: absolute;
      right: 0;
      top: 0px;
      margin-top: -50px;
      display: table;
      transition-duration: 0.3s;
      user-select: none;

      > div {
        display: table-cell;
        vertical-align: middle;

        &:nth-child(1) {
          font-size: 25px;
          font-weight: bold;
          text-transform: uppercase;
          padding-right: 5px;

          > div {
            display: table;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: $color;
            color: #fff;

            > span {
              display: table-cell;
              vertical-align: middle;
              text-align: center;
            }
          }
        }

        &:nth-child(2) {
          > span {
            z-index: 1;
            display: block;
            position: absolute;
            left: 68px;
            top: 50px;
            font-weight: bold;
            color: #fff;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
          }

          > svg {
            width: 55px;
            opacity: 0.5;
            fill: rgba($color, 0.5);
          }
        }
      }
    }

    &.hidden-title {
      .alpha-search-title {
        height: 0;
      }
    }
  }

  .fadeEnter {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-name: fadeEnter;
    animation-name: fadeEnter;
  }

  .fadeExit {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-name: fadeExit;
    animation-name: fadeExit;
  }

  @-webkit-keyframes fadeEnter {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeEnter {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeExit {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes fadeExit {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

@import "src/styles.scss";

:host {
  $maxWidth: 800px;

  box-sizing: border-box;
  position: relative;
  display: block;
  padding-bottom: 80px;
  min-height: 100%;

  .example-nav-bar {
    background: $color;

    > div {
      background: lighten($color, 2);
      margin: auto;
      padding: 30px 0;
      text-align: center;
      font-size: 30px;
      color: #fff;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.075);

      > span {
        background: rgba(#fff, 0.1);
        padding: 0 10px;
      }
    }

    > ul {
      font-size: 13px;
      max-width: $maxWidth;
      display: block;
      list-style: none;
      margin: auto;
      padding: 0;

      > li {
        display: inline-block;
        vertical-align: middle;
        padding: 15px 20px;
        color: #fff;
        cursor: pointer;
        transition-duration: 0.3s;

        &.active {
          cursor: default;
          background: darken($color, 3);
        }

        &:not(.active):hover {
          background: lighten($color, 3);
        }
      }
    }
  }

  .example {
    display: table;
    width: 100%;
    max-width: 900px;
    padding: 0 30px;
    margin: auto;
    box-sizing: border-box;

    > section {
      > h3 {
        text-align: center;
        font-size: 20px;
        margin-bottom: 10px;
        color: darken($color, 3);
      }

      > h5 {
        display: table;
        margin: auto;
        text-align: left;
        font-size: 12px;
        margin-bottom: 25px;
        max-width: 500px;
        font-weight: normal;
        color: #888888;
        padding: 10px 20px;
        background: #fff;
        border: 1px solid rgba($color, 0.4);
      }
    }
  }

  .footer {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #fff;
    padding: 10px 15px;
    font-size: 12px;
    color: #777;
    text-align: center;
    box-shadow: -4px 0 20px rgba(0, 0, 0, 0.075);
  }
}

:host::ng-deep {
  .search-list {
    .search-list-item {
      padding: 10px 0;

      > img {
        display: inline-block;
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid #ddd;
      }

      > span {
        padding-left: 15px;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

/* .general {
  padding: 20px;
  height: 100%;
  background: #FFF;
  box-sizing: border-box;
  font-family: Calibri, Arial, Helvetica, sans-serif;
}

@media (max-width: 500px) {
  .general {
    padding: 0;
  }
} */

@import "src/styles.scss";

:host {
  $maxWidth: 800px;

  box-sizing: border-box;
  position: relative;
  display: block;
  padding-bottom: 80px;
  min-height: 100%;

  .example-nav-bar {
    background: $color;

    > div {
      background: lighten($color, 2);
      margin: auto;
      padding: 30px 0;
      text-align: center;
      font-size: 30px;
      color: #fff;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.075);

      > span {
        background: rgba(#fff, 0.1);
        padding: 0 10px;
      }
    }

    > ul {
      font-size: 13px;
      max-width: $maxWidth;
      display: block;
      list-style: none;
      margin: auto;
      padding: 0;

      > li {
        display: inline-block;
        vertical-align: middle;
        padding: 15px 20px;
        color: #fff;
        cursor: pointer;
        transition-duration: 0.3s;

        &.active {
          cursor: default;
          background: darken($color, 3);
        }

        &:not(.active):hover {
          background: lighten($color, 3);
        }
      }
    }
  }

  .example {
    display: table;
    width: 100%;
    max-width: 900px;
    padding: 0 30px;
    margin: auto;
    box-sizing: border-box;

    > section {
      > h3 {
        text-align: center;
        font-size: 20px;
        margin-bottom: 10px;
        color: darken($color, 3);
      }

      > h5 {
        display: table;
        margin: auto;
        text-align: left;
        font-size: 12px;
        margin-bottom: 25px;
        max-width: 500px;
        font-weight: normal;
        color: #888888;
        padding: 10px 20px;
        background: #fff;
        border: 1px solid rgba($color, 0.4);
      }
    }
  }

  .footer {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #fff;
    padding: 10px 15px;
    font-size: 12px;
    color: #777;
    text-align: center;
    box-shadow: -4px 0 20px rgba(0, 0, 0, 0.075);
  }
}

:host::ng-deep {
  .search-list {
    .search-list-item {
      padding: 10px 0;

      > img {
        display: inline-block;
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid #ddd;
      }

      > span {
        padding-left: 15px;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

mat-card {
  margin-top: 0;
  margin-bottom: 0;
}

.add-contact-container {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  .add-contact-icon {
    font-size: 20px;
    cursor: pointer;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}

img {
  display: inline;
}

.add-contact-span {
  margin-left: 5%;
  font-size: larger;
}
