<mat-card>
  <div class="add-contact-container">
    <span matInput class="add-contact-span">Add new contact</span>
    <span
      class="material-icons add-contact-icon"
      [routerLink]="['add-contact']"
    >
      add
    </span>
  </div>
</mat-card>
<mat-card>
  <alphabet-filter
    [noSmoothScroll]="true"
    propAlphaOrder="firstName"
    propsSearch="firstName"
    placeholder="Search by name"
    [data]="contacts"
    listClass="search-list"
    [withTemplate]="true"
    height="550px"
    (onClick)="onChange()"
  >
    <ng-template let-item>
      <div class="search-list-item">
        <!--images link from bucket will be here-->
        <img src="assets/img/none.png" />
        <span>
          <div class="contact">
            <span>{{ item.firstName }}</span>
            <span>{{ item.email }}</span>
          </div>
        </span>
      </div>
    </ng-template>
  </alphabet-filter>

  <div style="clear: both;"></div>
</mat-card>
