$color: #4b4b4b;
$bg: #FFF;

html, body {
    margin: 0;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    background: #FAFAFA;
    height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
